*{

  box-sizing: border-box;
}

body{

  font-family: Tahoma,Arial;
}


.Main_Div{

width: 700px;

background-color: #e3e7f2c1;

margin: 100px auto ;

padding: 20px;

border-radius: 10px;

/* display: none; */
}


.category_Count_Qus{


background-color: rgb(255, 255, 255);

display: flex;


align-items: center;
 

 padding: 0px 10px 0 10px; 

border-radius: 10px;

height: 50px;

}
 .category_Count_Qus .category{ flex: 1;  }


.category_Count_Qus .Questions_Count{ flex: 1; text-align: right; } 


.Main_Answer_Question{

background-color: white;

height: 280px;

padding: 10px 10px 0px 10px;

border-radius: 10px;
margin-top: 20px;

}
.The_Question{

 font-size:medium;
}

.Div_Of_Answer{
    background-color: #e3e7f2c1;

    border-radius: 10px;
}

  .label_Of_Answer{

 cursor: pointer;

 font-weight: bold;

 color: #130e4b;

 font-size: 14px;

 margin-left: 10px;

 } 

 .Div_Of_Answer .Div_of_All_Answer{
  padding: 10px;

 
  
  
}

.Div_Of_Answer .Div_of_All_Answer:not(:last-child){


  border-bottom: 1px solid #dfdfdf; 

}

/* .Div_Of_Answer .Div_of_All_Answer:last-child{


  border-bottom: 1px solid #000; 


} */

.Div_Of_Answer .Div_of_All_Answer input[type="Radio"]:checked + label {color: #0075ff;}
 

 .Submit_Answer{

 width: 100%; 

/* display: block; */

margin: 20px auto;

border-radius: 10px;

 height: 50px;

cursor: pointer;

background-color: blue;

color: white;

border: none;

font-size: 14px;

}

/* .Submit_Answer:focus{outline: none;} */

.Main_Timer_And_Stars{

background-color: white ;

padding: 10px;

margin-top: 20px;

border-radius: 10px;

display: flex;

justify-content: space-between;

align-items: center;

}


.Div_Of_Stars{

flex: 1;

display: flex;

gap: 5px;

}


.circle{

    /* display: inline-block; */
    width: 20px;   /* Width of the circle */
    height: 20px;  /* Height of the circle */
   
    border-radius: 50%; /* This makes it a circle */
    background-color: #e3e7f2;

  cursor: pointer;

}

.checked{


background-color: #040c22;



}



.Timer{

  flex: 1;

text-align: right;

}

.Resulte {

 display: none; 

position: relative;
    top: 300px;
    left: 634px;

font-size: large;
font-weight: bold;
color: #909090;

background-color: #040c22;

width: fit-content;

padding: 20px;

border-radius: 20px;

}



.Resulte span{


  font-weight: bold;
  
}

.Resulte span.bad{


  color:red ;
  
}

.Resulte span.good{


  color:#009688 ;
  
}

.Resulte span.perfect{


  color: #0075ff;
  
}

